@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}

.btn {
  padding: 10px 24px;
  color: #ffffff;
  background-color: #e02c6d;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
}
.btn:hover {
  cursor: pointer;
  background-color: #fe4187;
}

/* header styles */

/* navbar styles */

.navbar,
.banner {
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 30px auto;
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
}

.nav-links {
  list-style: none;
  gap: 34px;
}

.nav-link {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1rem;
}

.nav-link:hover {
  color: #e02c6d;
}

/* banner styles */
.banner-title {
  width: 582px;
  color: rgba(58, 58, 58, 1);
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.banner-description {
  width: 505px;
  margin-bottom: 16px;
  font-weight: 600;
  color: rgba(58, 58, 58, 1);
}

.banner-img {
  background-image: url(./images/Circle\ design.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* sponsor style */
.sponsor {
  justify-content: center;
  max-width: 1110px;
  margin: 40px auto;
  gap: 61px;
}
hr {
  max-width: 1150px;
  opacity: 0.1;
}

/* cards style */

.card-info {
  margin: 99px auto;
  margin-bottom: 30px;
  max-width: 269px;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgba(58, 58, 58, 1);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1047px;
  margin: 0 auto;
  gap: 30px;
}

.card-content {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
}

.card-img {
  width: 300px;
  height: 256px;
  margin: 17px auto;
  display: block;
  border-radius: 5px;
}

.card-title {
  margin: 0 auto 5px 17px;
  font-size: 1.75rem;
  font-weight: 500;
}

.card-price {
  margin: 0 auto 8px 17px;
  font-size: 1.75rem;
  font-weight: 400;
}
.card-description {
  font-size: 0.8;
  margin: 0 auto 17px 17px;
  color: #787885;
  font-weight: 700;
}

.see-more {
  display: block;
  margin: 50px auto;
  text-align: right;
  max-width: 1047px;
  color: #e02c6d;
  text-decoration: none;
}
.see-more:hover {
  color: #fe4187;
}

/* featured styles */
.featured {
  max-width: 1110px;
  margin: 100px auto;
  gap: 96px;
}
.featured-title {
  font-size: 2.3rem;
  font-weight: 700;
}

.featured-description {
  color: rgba(108, 108, 108, 1);
  font-weight: 700;
  width: 501px;
}
.featured-container button {
  border-radius: 0;
}
